:root {
  --color-main-bg: #ffffff;
  --color-slave-bg: #f3f4f6;
  --color-border: #e2e3e5;
  --color-alpha: #000000;
  --color-beta: #111827;
  --color-gamma: #4d5562;
  --color-delta: #c4c4c4;
  --color-epsilon: #5d5fef;
  --color-zeta: #6b7280;
  --color-eta: #f0f9ff;
  --color-error: red;

  --border-radius: 6px;
  --border-radius-block: 4px;

  --box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  background-color: var(--color-main-bg);
}
