.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 545px;
  gap: 30px;
}

.head {
  width: 243px;
  align-self: flex-end;
}

.assembly {
  display: flex;
  gap: 30px;
}
