.displayBlock {
  padding: 4px 8px;
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  font-size: 36px;
  font-weight: 800;
  border-radius: var(--border-radius);
  background-color: var(--color-slave-bg);
}
