.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  margin-bottom: 12px;
}

.title {
  margin-bottom: 4px;
  color: var(--color-epsilon);
  font-weight: 500;
}

.text {
  margin: 0;
  font-size: 12px;
  color: var(--color-zeta);
}

.text:first-child {
  margin-top: 4px;
}
