.button {
  height: 48px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: (var(--color-main-bg));
}

.sm {
  width: 72px;
}

.md {
  width: 152px;
}

.lg {
  width: 232px;
  color: (var(--color-main-bg));
  background-color: var(--color-epsilon);
}
