.button {
  width: 52px;
  height: 48px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: (var(--color-main-bg));

  @media (hover: hover) {
    &:hover {
      border: 2px solid var(--color-epsilon);
    }
  }

  @media (hover: none) {
    &:active {
      border: 2px solid var(--color-epsilon);
    }
  }

  &:active {
    background-color: var(--color-epsilon);
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      border: 1px solid var(--color-border);
    }

    &:active {
      background-color: (var(--color-main-bg));
    }
  }
}

.sm {
  width: 72px;
}

.md {
  width: 152px;
}

.lg {
  width: 232px;
  height: 64px;
  color: (var(--color-main-bg));
  background-color: var(--color-epsilon);
}
