.container {
  width: 100%;
  padding: 4px;
  border-radius: var(--border-radius-block);
  background-color: var(--color-main-bg);
  cursor: auto;
  & * {
    cursor: auto;
  }
}

.notMoved {
  box-shadow: var(--box-shadow);
}

.passive {
  opacity: 0.5;
}

.draggable {
  cursor: pointer;
  & * {
    cursor: pointer;
  }
}

.noDraggable {
  cursor: no-drop;
  & * {
    cursor: no-drop;
  }
}

.move {
  cursor: move;
  & * {
    cursor: move;
  }
}

.error {
  color: var(--color-error) !important;
}
