.container {
  width: 243px;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.construct {
  justify-content: start;
  gap: 12px;
}
