.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 243px;
  height: 448px;
  border: 2px dashed var(--color-delta);
  border-radius: 6px;
}

.description {
}

.active {
  background-color: var(--color-eta);
}
